/01-starting-setup/node_modules
/02-starting-project/node_modules
/03-project/node_modules
/04-useEffect-project/node_modules
/05-useReducer-project/node_modules
/06-ContextAPI-project/node_modules
/07-food-order-app/node_modules
/08-httpRequest-project/node_modules
/09-customHooks-project/node_modules
/10-customHooks-project/node_modules
/11-forms&userInput-project/node_modules
/12-foodApp-with-httpRequests/node_modules
/13-multiPageSPA-ReactRouter/node_modules
/14-reactRouter-project/node_modules
/15-auth-project/node_modules